* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

body {
  background: #2f0c21;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #fd56c2, #710377);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;

  /*justify-content: space-between; */
}

.search input {
  flex: 1;
  border: 0;
  outline: 0;
  background: #fbcbff;
  color: #000000;
  padding: 10px 20px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;

}

.search button {
  border: 0;
  outline: 0;
  background: #fbcbff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 30px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;

}

.weather h1 {
  font-size: 80px;
  font-weight: 500;

}

.weather h2 {
  margin-top: -10px;
  font-weight: 400;
  font-size: 80px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  /* very kaam ki cheez as it keeps stuff hidden*/

}

@media (min-width: 600px) {
  .search {
    gap: 20px;
  }

  .weather-icon {
    width: 120px;
  }

  .weather h1 {
    font-size: 60px;
  }

  .weather h2 {
    font-size: 60px;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .card {
    padding: 30px;
  }

  .search {
    gap: 30px;
  }

  .weather-icon {
    width: 150px;
  }

  .weather h1 {
    font-size: 70px;
  }

  .weather h2 {
    font-size: 70px;
  }

  .details {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .card {
    max-width: 800px;
  }
}